body{
    margin: 0;
    background: #ededed; 
    font-family: 'Allerta', sans-serif;
}


ul{
    list-style: none;
}
.contenedor{
	width: 800px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
	margin: 0;
    background: #273b47;
    align-items: center;
}

nav{
    display: inline-block;
    font-size: 24px;
}

nav li{
    color: white;
    padding-right: 30px;
    /*list-style-image: none;*/
}

a{
    text-decoration: none;
    color:white;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.avatar{
    
    border-radius: 50%;
    background: white;
}

.login-form{

    width: 500px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.login-form img{
    width:150px;
    margin-top:-30px;
}

input{
    font-size: 20px;
    margin-top: 10px;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    border:none;
}


#boton{
    margin-top: 50px;
	border-radius: 5px;
	border: none;
    padding: 5px;
    background: #273b47;/*linear-gradient(to right,#10437a, #1b4f72 );*/
    width: 150px;
    height: 50px;
    color:white;
    cursor: pointer;
    font-size: 20px;
}

#boton:hover{
    opacity: 0.8;
}

.login-form h4{

    font-family: 'monospace',sans-serif;
    display: inline-block;
}


@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?v1pn7e');
	src:  url('../fonts/icomoon.eot?v1pn7e#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?v1pn7e') format('truetype'),
	  url('../fonts/icomoon.woff?v1pn7e') format('woff'),
	  url('../fonts/icomoon.svg?v1pn7e#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  
  .icon-account_balance_wallet:before {
	content: "\e900";
  }
  .icon-home:before {
	content: "\e901";
  }
  .icon-coin-dollar:before {
	content: "\e93b";
  }
  .icon-exit:before {
	content: "\ea14";
  }
  .icon-circle-up:before {
	content: "\ea41";
  }